.weekDays,
.active {
  background-color: whitesmoke;
  text-align: center;
  padding: 3px;
  color: grey;
  font-size: 16px;
  font-weight: 300;
  border: 1.8px solid rgb(220, 220, 220);
}
.active {
  background-color: skyblue;
  color: navy;
  border: 1.8px solid navy;
  font-weight: 700;
}
