<ion-toolbar>
  <ion-row>
    <ion-col>
      <app-profile-header></app-profile-header>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" color="primary">
        create <ion-icon slot="end" color="primary" name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content>
  <ion-row *ngIf="currWeekList.length>0">
    <ion-col color="danger" *ngFor="let day of currWeekList;let i=index">
      <div [ngClass]="i!==currDayIndex?'weekDays':'active'" [id]="'currWeekList'+i" (click)="fetchRoutine(i)">
        <ion-text>{{day|date:'E'}}</ion-text><br>
        <ion-text>{{day|date:'d'}}</ion-text>
      </div>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header class="ion-no-padding ion-padding-left">
      <ion-text color="medium">
        <small>Todays' your yoga routine</small>
      </ion-text>
    </ion-list-header>

    <div *ngIf="todaysYogaList !== null;else emptyTodaysRoutine">

    </div>
    <ng-template #emptyTodaysRoutine>
      <div class="ion-text-center ion-padding ion-margin">
        <ion-text color="medium">
          <small>
            You hav't set any yogas for todays practice. You can create a yoga routine with your create/default yoga
            asanas
          </small>
        </ion-text> <br>
        <ion-button fill="clear">
          <ion-text color="primary">
            Get start +
          </ion-text>
        </ion-button>
      </div>
    </ng-template>
  </ion-list>
</ion-content>