<ion-toolbar>
  <ion-row>
    <ion-col>
      <app-profile-header></app-profile-header>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" color="primary">
        create <ion-icon slot="end" color="primary" name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content>
  <ion-row *ngIf="currWeekList.length>0">
    <ion-col color="danger" *ngFor="let day of currWeekList;let i=index">
      <div [ngClass]="i!==currDayIndex?'weekDays':'active'" [id]="'currWeekList'+i" (click)="fetchRoutine(i)">
        <ion-text>{{day|date:'E'}}</ion-text><br>
        <ion-text>{{day|date:'d'}}</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-content>