<ion-header>
  <ion-toolbar>
    <ion-title>create-routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="chooseYoga">
    <app-choose-yoga></app-choose-yoga>
  </div>
  <div *ngIf="!chooseYoga">
    <app-setup-schedule></app-setup-schedule>
  </div>
  <ion-item>
    <ion-buttons slot="start" *ngIf="!chooseYoga">
      <ion-button color="primary" fill="clear" (click)="chooseYoga = !chooseYoga">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon> choose yoga
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" *ngIf="chooseYoga" (click)="chooseYoga = !chooseYoga">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> choose yoga
      </ion-button>
      <ion-button color="primary" fill="clear" *ngIf="!chooseYoga" (click)="chooseYoga = !chooseYoga">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> choose yoga
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>