<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Create routine</ion-title> -->
    <ion-button color="success" fill="clear" slot="end" (click)="setSchedule()">
      <ion-icon name="alarm-outline" slot="end"></ion-icon> Schedule
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf=" passRefObject.defaultYogas.length > 0">
    <app-choose-yoga [passRefObject]="passRefObject" [sessionData]="sessionData"
      [sessionDataCopyRef]="sessionDataCopyRef"></app-choose-yoga>
  </div>
</ion-content>