<ion-item color="tertiary">
  <ion-label>
    Choose schedule for
  </ion-label>

  <ion-select [value]="setDailyOrWeekly" (ionChange)="setUpYogaRoutineFor($event)">
    <ion-select-option value="daily" checked>daily</ion-select-option>
    <ion-select-option value="weekly">Weekly</ion-select-option>
  </ion-select>
</ion-item>

<ion-row *ngIf="week.length>0 && showWeekDays">
  <ion-col color="danger" *ngFor="let day of week;let i=index">
    <div [ngClass]="i!==currDayIndex?'weekDays':'active'" [id]="'week'+i" (click)="onWeekDayChanges(i)">
      <ion-text>{{ day | titlecase}}</ion-text><br>
    </div>
  </ion-col>
</ion-row>

<ion-list>
  <ion-list-header class="ion-padding">
    <ion-text color="medium">
      <small>Select yoga </small>
    </ion-text>
  </ion-list-header>

  <ion-item-divider>
    Created yogas
  </ion-item-divider>
  <div *ngIf="passRefObject && passRefObject.createdYogas;else emptyList">
    <ion-item lines="full" [color]="i%2==0?'':'light'" *ngFor="let yoga of passRefObject.createdYogas;let i=index">
      <ion-avatar slot="start">
        <img [src]="yoga?.imageUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{yoga?.name}}</h2>
        <p>{{yoga?.pose}}</p>
        <ion-text color="medium">
          <p>{{yoga?.minutes|date:'mm:ss' }} min | {{ yoga?.recomandedTime}}</p>
        </ion-text><br>

      </ion-label>
      <ion-button size="small" slot="end" fill="outline" color="success" *ngIf="!yoga.isSelected"
        (click)="addOrRemoveYoga('createdYogas',yoga)">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small" slot="end" fill="clear" color="danger" *ngIf="yoga?.isSelected"
        (click)="addOrRemoveYoga('createdYogas',yoga)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- <ion-checkbox slot="end" (ionChange)="addOrRemoveYoga('createdYogas',yoga)" [checked]="yoga.isSelected">
      </ion-checkbox> -->
    </ion-item>
  </div>
  <ion-item-divider>
    Default yogas
  </ion-item-divider>
  <div *ngIf="passRefObject && passRefObject.defaultYogas;else emptyList">
    <ion-item lines="full" [color]="i%2==0?'':'light'" *ngFor="let yoga of passRefObject.defaultYogas;let i=index">
      <ion-avatar slot="start">
        <img [src]="yoga?.imageUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{yoga?.name}}</h2>
        <p>{{yoga?.pose}}</p>
        <ion-text color="medium">
          <p>{{yoga?.minutes|date:'mm:ss' }} min | {{ yoga?.recomandedTime}}</p>
        </ion-text><br>

      </ion-label>
      <ion-button size="small" slot="end" fill="outline" color="success" *ngIf="!yoga.isSelected"
        (click)="addOrRemoveYoga('createdYogas',yoga)">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small" slot="end" fill="clear" color="danger" *ngIf="yoga?.isSelected"
        (click)="addOrRemoveYoga('createdYogas',yoga)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-item>
  </div>
  <ng-template #emptyList>
    <div class="ion-text-center ion-padding ion-margin">
      <ion-text color="medium">
        <small>
          This list is empty. There havn't added any yogas in thise categories.
        </small>
      </ion-text> <br>
    </div>
  </ng-template>
</ion-list>